@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.w-full.sm:w-auto {
  width: 100%; 
}

@media (min-width: 640px) {
  .w-full.sm:w-auto {
  width: auto;
  }
}

h1, h2, h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .navbar a {
      float: none;
      display: block;
      text-align: left;
  }

  h1, h2, h3 {
      font-size: 20px;
  }

  p {
      font-size: 14px;
  }
}

::-webkit-scrollbar{

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.glassy {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.hand {
  cursor: pointer;
  
}
.yourmum:hover {
  background: #cccccc4c;
}


.hi {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 1024px) {
  .hi {
    padding-top: -30px; /* 16px */;
    padding-bottom: -30px; /* 16px */;
  }
}

@media (min-width: 640px) {
  .hi {
    padding-top: -30px; /* 16px */;
    padding-bottom: -30px; /* 16px */;
  }
}
